# Cree par Thomas VASSY--ROUSSEAU.
# Ce fichier permet d'ignorer certains fichiers confidentiels du projet.
# Ces fichiers ne seront pas téléchargés lors d'un clone de ce repository.

# Ne pas importer les paramètres d'analyse et GitHub Actions
.pre-commit-config.yml
.github/workflows/
*.key
__pycache__/
.gitleaks.toml
*.secret

# Ne pas importer le fichier .env contenant les clés API nécessaires à notre projet.
.env
