# Cree par Thomas VASSY--ROUSSEAU.
# GitHub Actions API analyzer
name: Analyze InvenBib API keys

# Verification pour toutes les branches et les tags de version
on:
  push:
    tags: [ v* ]
    branches: []
  pull_request:
    tags: [ v* ]
    branches: []

jobs:
  secret-scan:
    runs-on: ubuntu-latest
    environment: secrets-verification
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    # Mise à jour des permissions pour afficher les évènements de sécurité et lire les fichiers.
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Import de la librairie GitHub Analyze
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Installation de Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Mise en place de Gitleaks
        run: |
          curl -sSL -o gitleaks.tar.gz https://github.com/gitleaks/gitleaks/releases/tag/v8.24.3/download/gitleaks-linux-amd64.tar.gz
          file gitleaks.tar.gz
          # tar -xf gitleaks.tar.gz -C /usr/local/bin gitleaks
          # chmod +x /usr/local/bin/gitleaks
      - name: Vérification de l'installation de Gitleaks
        run: gitleaks version
      - name: Lancement du scan
        run: |
          gitleaks dir --source=. \
          --config=.gitleaks.toml \
          --report-format=sarif \
          --report-path=gitleaks-report-${{ matrix.python-version }}.sarif
      - name: Chargement de SARIF pour le reporting
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: gitleaks-report-${{ matrix.python-version }}.sarif
      - name: Vérification du .env
        run: |
          if grep -rE "(API_KEY|SECRET_KEY|MISTRAL_API_KEY)" --exclude=.env --exclude=*.toml .; then
            echo "::error::Des clés API ont été détectées dans des fichiers non protégés !"
            exit 1
          fi
