# GitHub Actions code analyzer
name: Analyze the code
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  lint-and-test:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - name: Import de la librairie GitHub Analyze
        uses: actions/checkout@v4

      - name: Installation de Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Mise en place d'un cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: windows-latest-pip-${{ hashFiles('**/requirements.txt') }}-${{ matrix.python-version }}
      - name: Installation de pip
        run: python -m pip install --upgrade pip flake8 pytest
      - name: Spécification des versions de Python
        run: python -m pip install -r requirements.txt
      - name: Installation des dépendances
        run: python -m pip install pytest flake8 mypy black isort pre-commit tox
      - name: Gestion des environnements
        run: python -m tox
      - name: Analyse du code avec flake8
        run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
      - name: Lancement des tests avec pytest
        run: python -m pytest -v
      - name: Vérification des types de variables avec mypy
        run: python -m mypy .
      - name: Vérification du format du code avec black
        run: python -m black .
      - name: Vérification du format du code avec isort
        run: python -m isort .
      - name: Lancement des pré-commits
        run: python -m pre-commit run --all-files
      - name: Mise à jour automatique des pré-commits
        run: python -m pre-commit autoupdate
